
<!doctype html>
<html>
<head>
 <title> Django Bookmarks | {%block title %}{%endblock%}
 </title>
 <link rel="stylesheet" href="/site_media/style.css" type="text/css">
 <script type="text/javascript" src="/site_media/jquery.js"></script>
  {%block external %}{%endblock%}

<head>
<body> 
  <div id="nav">
    <a href="/"> Home </a> | 
    <a href="/search/">Search</a> |
    <a href="/popular/">Popular</a>|
    {% if user.is_authenticated%}
      <a href="/save/">Submit</a> |
      <a href="/friends/{{user.username}}/">Friends |
      welcome {{user.username}}
       (<a href="/logout/">Logout</a>
     {%else%}
       <a href="/login/"> Login </a> |
       <a href="/register/">Sign Up</a>
       
    {%endif%}
  </div>
  <h1> {%block head%}{%endblock%}</h1>
  {%block content %}{%endblock%}
  </body>
  </html>
